:root {
  --white: 255, 255, 255;
  --black: 0, 0, 0;
  --blue: 0, 162, 255;
  --lighter-blue: 51, 180, 255;
  --darker-blue: 0, 128, 202;
  --dark-blue: 0, 51, 153;
  --green: 51, 204, 51;
  --red: 255, 90, 25;
  --dark-red: 153, 0, 0;
  --orange: 255, 170, 102;
  --teal: 0, 153, 153;
  --purple: 204, 51, 153;
  --gray: 235, 235, 235;

  --dark-foreground-color: var(--black);
  --light-foreground-color: var(--white);

  --body-background-color: var(--white);
  --button-background-color: var(--blue);
  --button-hover-background-color: var(--lighter-blue);
  --button-active-background-color: var(--darker-blue);
  --button-disabled-background-color: var(--gray);
  --cell-background-color: var(--blue);
  --cell-hover-background-color: var(--lighter-blue);
  --cell-mine-visited-background-color: var(--gray);
  --cell-border-color: var(--gray);

  --normal-font-size: 18px;

  --normal-font-weight: 400;
  --bold-font-weight: 700;
}

/* General */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(var(--body-background-color));
  color: rgb(var(--dark-foreground-color));
  font: var(--normal-font-weight) var(--normal-font-size) Helvetica, Arial, sans-serif;
}

table {
  border-collapse: collapse;
}

table, tr, td {
  border-style: none;
}

h2 {
  margin-bottom: .5em;
  font-size: var(--normal-font-size);
  font-weight: var(--normal-font-weight);
  text-align: center;
}

button {
  padding: .5em .8em;
  font-size: var(--normal-font-size);
  background-color: rgb(var(--button-background-color));
  color: rgb(var(--light-foreground-color));
  border-style: none;
  border-radius: .5em;
  transition-duration: .5s;
  cursor: pointer;
}

button:hover {
  background-color: rgb(var(--button-hover-background-color));
  transition-duration: 0s;
}

button:active {
  background-color: rgb(var(--button-active-background-color));
}

button:disabled {
  background-color: rgb(var(--button-disabled-background-color));
  cursor: default;
}

button:focus {
  outline: none;
}

input[type=radio] {
  font-size: var(--normal-font-size);
}

input[type=radio] + label {
  line-height: 140%;
}

/* Game */

#minesweeper {
  display: flex;
  flex-flow: row nowrap;
  margin: 2em;
  user-select: none; -webkit-user-select: none;
}

#menu {
  padding-top: 1.5em;
  min-width: 10em;
}

#new-game {
  margin: .5em 0 2em 0;
}

#field {
  text-align: center;
  font-weight: var(--bold-font-weight);
  cursor: default;
}

.cell, .cell-hover, .cell-visited, .cell-mine-visited, .cell-mine-exploded {
  width: 2em;
  height: 2em;
  border: 1px solid rgb(var(--cell-border-color));
  background-color: rgb(var(--cell-background-color));
  transition-duration: .5s;
}

.cell-hover, .cell-visited, .cell-mine-visited, .cell-mine-exploded {
  transition-duration: 0s;
}

.cell-hover {
  background-color: rgb(var(--cell-hover-background-color));
}

.cell-visited {
  background-color: rgb(var(--body-background-color));
}

.cell-mine-visited {
  background-color: rgb(var(--cell-mine-visited-background-color));
}

.cell-mine-exploded {
  background-color: rgb(var(--orange));
  background-image: radial-gradient(ellipse at center, rgb(var(--orange)) 50%, rgb(var(--red)) 100%);
}

#mine-count-bar {
  display: flex;
  flex-flow: row nowrap;
  text-align: left;
  width: max-content;
}

#mine-count-bar div {
  margin: .5em;
}

#mine-count-bar div:first-child {
  margin-top: .55em;
  margin-right: 0;
}

/* Mine */

.mine {
  position: relative;
  margin: auto;
  width: 1em;
  height: 1em;
  border-radius: .1em;
  background-color: #720;
  background-image: radial-gradient(ellipse at center, #b64 1%, #720 100%);
  text-align: center;
}

.mine:before, .mine:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  border-radius: .1em;
  background-color: #720;
  background-image: radial-gradient(ellipse at center, #b64 1%, #720 100%);
  content: "";
}

.mine:before {
  transform: rotate(30deg);
}

.mine:after {
  transform: rotate(60deg);
}

.mine-small-white, .mine-small-white:before, .mine-small-white:after {
  width: 1em;
  height: 1em;
  background-color: #eee;
  background-image: radial-gradient(ellipse at center, #ccc 1%, #fff 100%);
}

/* Flag */

.flag {
  position: relative;
  left: -.3em;
  margin: auto;
  width: .2em;
  height: 1.3em;
  background-color: #fff;
  background-image: linear-gradient(to right, #fff 0, #fff 50%, #ddd 50%, #ddd 100%);
  content: "";
}

.flag:before {
  position: absolute;
  top: .1em;
  left: .1em;
  width: .9em;
  height: .7em;
  border-top-right-radius: .2em;
  border-bottom-right-radius: .2em;
  background-color: #f88;
  background-image: linear-gradient(to bottom, #f88 0, #f55 45%, #f88 100%);
  content: "";
}
