@import 'minesweeper.css';

:root {
  --normal-font-size: 18px;

  --normal-font-weight: 400;
  --bold-font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font: var(--normal-font-weight) var(--normal-font-size) Helvetica, Arial, sans-serif;
  margin: 2em;
}
