#minesweeper {
  --white: 255, 255, 255;
  --black: 0, 0, 0;
  --blue: 0, 162, 255;
  --lighter-blue: 51, 180, 255;
  --darker-blue: 0, 128, 202;
  --dark-blue: 0, 51, 153;
  --green: 51, 204, 51;
  --red: 255, 90, 25;
  --dark-red: 153, 0, 0;
  --orange: 255, 170, 102;
  --teal: 0, 153, 153;
  --purple: 204, 51, 153;
  --gray: 235, 235, 235;

  --dark-foreground-color: var(--black);
  --light-foreground-color: var(--white);

  --minesweeper-background-color: var(--white);
  --button-background-color: var(--blue);
  --button-hover-background-color: var(--lighter-blue);
  --button-active-background-color: var(--darker-blue);
  --button-disabled-background-color: var(--gray);

  background-color: rgb(var(--minesweeper-background-color));
  color: rgb(var(--dark-foreground-color));
  font-size: var(--normal-font-size);
  user-select: none; -webkit-user-select: none;
  min-width: 35em;
}

#menu {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: max-content;
  margin: 1em auto;
}

#menu input[type=radio] {
  font-size: var(--normal-font-size);
}

#menu input[type=radio] + label, #new-game {
  margin-right: 1em;
}

#menu button {
  display: block;
  padding: .5em .8em;
  font-size: var(--normal-font-size);
  background-color: rgb(var(--button-background-color));
  color: rgb(var(--light-foreground-color));
  border-style: none;
  border-radius: .5em;
  transition-duration: .5s;
  cursor: pointer;
}

#menu button:hover {
  background-color: rgb(var(--button-hover-background-color));
  transition-duration: 0s;
}

#menu button:active {
  background-color: rgb(var(--button-active-background-color));
}

#menu button:disabled {
  background-color: rgb(var(--button-disabled-background-color));
  cursor: default;
}

#menu input[type=radio]:focus, #menu button:focus {
  outline: none;
}

#title {
  margin-bottom: .5em;
  text-align: center;
}

#field {
  text-align: center;
  font-weight: var(--bold-font-weight);
  cursor: default;
  border-collapse: collapse;
  margin: 0 auto 0;
}

#field td {
  width: 2em;
  min-width: 2em;
  height: 2em;
  border: 1px solid rgb(var(--gray));
  vertical-align: middle;
}

.cell, .cell-hover, .cell-visited, .cell-mine-visited, .cell-mine-exploded {
  background-color: rgb(var(--blue));
  transition-duration: .5s;
}

.cell-hover, .cell-visited, .cell-mine-visited, .cell-mine-exploded {
  transition-duration: 0s;
}

.cell-hover {
  background-color: rgb(var(--lighter-blue));
}

.cell-visited {
  background-color: rgb(var(--white));
}

.cell-mine-visited {
  background-color: rgb(var(--gray));
}

.cell-mine-exploded {
  background-color: rgb(var(--orange));
  background-image: radial-gradient(ellipse at center, rgb(var(--orange)) 50%, rgb(var(--red)) 100%);
}

.mine, .mine-revealed, .flag {
  width: 65%;
  height: 65%;
  margin: auto;
  background-repeat: no-repeat;
  background-size: 100%;
}

.mine {
  background-image: url('../assets/icons/mine.svg');
}

.mine-revealed {
  background-image: url('../assets/icons/mine-revealed.svg');
}

.flag {
  width: 75%;
  height: 75%;
  background-image: url('../assets/icons/flag.svg');
}

#mine-count-bar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: max-content;
  margin: .5em auto 1em;
}

#mine-count-bar .mine {
  width: 1em;
  height: 1em;
  margin-right: .3em;
}
