#minesweeper {
  --white: 255, 255, 255;
  --black: 0, 0, 0;
  --blue: 0, 162, 255;
  --lighter-blue: 51, 180, 255;
  --darker-blue: 0, 128, 202;
  --dark-blue: 0, 51, 153;
  --green: 51, 204, 51;
  --red: 255, 90, 25;
  --dark-red: 153, 0, 0;
  --orange: 255, 170, 102;
  --teal: 0, 153, 153;
  --purple: 204, 51, 153;
  --gray: 235, 235, 235;

  --minesweeper-font-size: 18px;

  background-color: rgb(var(--white));
  color: rgb(var(--black));
  font-size: var(--minesweeper-font-size);
  user-select: none; -webkit-user-select: none;
  min-width: 35em;
  cursor: default;
}

#menu {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: max-content;
  margin: 1em auto;
}

#menu input[type=radio] {
  font-size: var(--minesweeper-font-size);
  visibility: hidden;
}

#menu input[type=radio] + label {
  position: relative;
  cursor: pointer;
}

#menu input[type=radio] + label::before {
  box-sizing: border-box;
  position: absolute;
  top: calc(50% - .5em);
  left: -1em;
  height: 1em;
  width: 1em;
  content: "";
  border: .35em solid rgb(var(--gray));
  background-color: rgb(var(--gray));
  border-radius: 50%;
}

#menu input[type=radio]:hover + label::before {
  background-color: rgb(var(--white));
}

#menu input[type=radio]:active + label::before {
  background-color: rgb(var(--white));
  border-color: rgb(var(--darker-blue));
}

#menu input[type=radio]:checked + label::before {
  background-color: rgb(var(--white));
  border-color: rgb(var(--blue));
}

#menu input[type=radio] + label, #new-game {
  margin-right: 1em;
}

#menu button {
  display: block;
  padding: .5em .8em;
  font-size: var(--minesweeper-font-size);
  background-color: rgb(var(--blue));
  color: rgb(var(--white));
  border-style: none;
  border-radius: .5em;
  transition-duration: .5s;
  cursor: pointer;
}

#menu button:hover {
  background-color: rgb(var(--lighter-blue));
  transition-duration: 0s;
}

#menu button:active {
  background-color: rgb(var(--darker-blue));
}

#menu button:disabled {
  background-color: rgb(var(--gray));
  cursor: default;
}

#menu input[type=radio]:focus, #menu button:focus {
  outline: none;
}

#title {
  margin-bottom: .5em;
  text-align: center;
}

#field {
  text-align: center;
  font-weight: bold;
  border-collapse: collapse;
  margin: 0 auto 0;
}

#field td {
  width: 2em;
  min-width: 2em;
  height: 2em;
  border: 1px solid rgb(var(--gray));
  vertical-align: middle;
}

.cell, .cell-visited, .cell-mine-visited, .cell-mine-exploded {
  background-color: rgb(var(--blue));
  transition-duration: .5s;
}

.cell:hover, .cell-active, .cell-visited, .cell-mine-visited, .cell-mine-exploded {
  transition-duration: 0s;
}

.cell:hover {
  background-color: rgb(var(--lighter-blue));
}

.cell-active {
  background-color: rgb(var(--darker-blue));
}

.cell-visited {
  background-color: rgb(var(--white));
}

.cell-mine-visited {
  background-color: rgb(var(--gray));
}

.cell-mine-exploded {
  background-color: rgb(var(--orange));
  background-image: radial-gradient(ellipse at center, rgb(var(--orange)) 50%, rgb(var(--red)) 100%);
}

.mine, .mine-revealed, .flag {
  width: 65%;
  height: 65%;
  margin: auto;
  background-repeat: no-repeat;
  background-size: 100%;
}

.mine {
  background-image: url('../assets/icons/mine.svg');
}

.mine-revealed {
  background-image: url('../assets/icons/mine-revealed.svg');
}

.flag {
  width: 75%;
  height: 75%;
  background-image: url('../assets/icons/flag.svg');
}

#mine-count-bar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: max-content;
  margin: .5em auto 1em;
}

#mine-count-bar .mine {
  width: 1em;
  height: 1em;
  margin-right: .3em;
}
